.static-div {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  font-size: 70px;
  display: flex;

  flex-direction: column;
  row-gap: 50px;
}
.static-description {
  font-size: 20px;
}

.pokemon-images {
  height: 200px;
  width: 200px;
}
.pokemon-images:hover {
  cursor: pointer;
}

.score-info {
  position: fixed;
  right: 150px;
  top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
